<form action='/results'>
  <div class="form-group">
    <label for="date">Enter a date in mm/dd/yyyy format:</label>
    <input id="date" name="date" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
