<!DOCTYPE html>
<html>
<head>
  <title>Weekday Finder</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='style.css'>
</head>
<body>
  <div class="container" id="bottom">
    <div class="jumbotron" >
      <h1>What day of the week is it?</h1>
      <hr>
    <%= yield %>
    </div>
  </div>
</body>
</html>
